<table>
<tr>
<th> Fullname</th>
<th colspan="3"></th>
</tr>
<% @personal_infos.each do |personal_info| %>
  <tr>
    <td><%= personal_info.fullname %></td>
    <td><%= link_to 'Show', personal_info_path(personal_info) %></td>
    <td><%= link_to 'Edit', edit_personal_info_path(personal_info) %></td>
    <td><%= link_to 'Destroy', personal_info_path(personal_info), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>