services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
    volumes:
      - .:/app
      - "C:/Users/Home/Documents/Training/Ruby/resume_maker/config/master.key:/app/config/master.key:ro"
    depends_on:
      - db
    command: ./bin/rails server -b 0.0.0.0

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
